

<div class="proyecto_header">
  <h1><%=link_to @proyecto.nombre, @proyecto %>
  </h1>
  <%= link_to "Nueva Tarea", new_proyecto_tarea_path(@proyecto), :class => "btn primary" %>
</div>
<div class="clear"></div>
<div class="project_nav">

</div>
<%= render :template => 'tareas/index' %>


