<h3>Usuarios</h3>
<p><%= link_to 'Usuarios:', users_path %> <%= User.count %> registrados</p>


  <div class="row">
    <aside class="col-md-4">
      
      <section class="objetivo_form">
        <%= render 'shared/objetivo_form' %>
      </section>
    </aside>
  </div>


