<div class="center jumbotron">

  <h1>PAGINA DE INICIO</h1>

  <h2 align="center">
    Esta es la pagina Inicial
  </h2>

  <%= link_to "Ingresar", new_user_session_path, class: "btn btn-lg btn-primary" %>

</div>
